*{
    color: #fff;
}
h2 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  span{
    color: #b9b9b9;
    margin-left: 30px;
  }